@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 100;
}

.main-content__top {
  position: fixed;
  top: 0;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 0 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin-top: 80px;
  padding: 15px;
}
