@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 100;
}

.main-content__top {
  position: fixed;
  top: 0;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 0 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin-top: 80px;
  padding: 15px;
}

.card-title-shifted {
  margin-top: -40px;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:#c6e2fd;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
}

.card-title {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:#c6e2fd;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
}